.acc-navigation {
    background-color: #f3f3f3
}

.acc-navigation .d-none {
    display: none !important
}

.acc-navigation .container {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
    width: auto
}

@media(min-width: 1024px) {
    .acc-navigation .container {
        max-width:936px
    }
}

@media(min-width: 1320px) {
    .acc-navigation .container {
        max-width:1120px
    }
}

.acc-navigation .container-fluid,.acc-navigation .container-sm,.acc-navigation .container-md,.acc-navigation .container-lg,.acc-navigation .container-xl {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
    width: auto
}

@media(min-width: 1024px) {
    .acc-navigation .container,.acc-navigation .container-sm,.acc-navigation .container-md {
        margin-right:auto;
        margin-left: auto;
        max-width: 936px
    }

    .acc-navigation .container-fluid,.acc-navigation .container-lg,.acc-navigation .container-xl {
        margin-right: 44px;
        margin-left: 44px
    }
}

@media(min-width: 1320px) {
    .acc-navigation .container,.acc-navigation .container-sm,.acc-navigation .container-md,.acc-navigation .container-lg {
        margin-right:auto;
        margin-left: auto;
        max-width: 1120px
    }

    .acc-navigation .container-fluid,.acc-navigation .container-xl {
        margin-right: 88px;
        margin-left: 88px
    }
}

.acc-navigation .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px
}

@media(min-width: 1024px) {
    .acc-navigation .row {
        margin-right:-20px;
        margin-left: -20px
    }
}

@media(min-width: 1320px) {
    .acc-navigation .row {
        margin-right:-24px;
        margin-left: -24px
    }
}

.acc-navigation .no-gutters {
    margin-right: 0;
    margin-left: 0
}

.acc-navigation .no-gutters>.col,.acc-navigation .no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0
}

.acc-navigation .no-margins {
    margin: 0
}

.acc-navigation .col-1,.acc-navigation .col-2,.acc-navigation .col-3,.acc-navigation .col-4,.acc-navigation .col-5,.acc-navigation .col-6,.acc-navigation .col-7,.acc-navigation .col-8,.acc-navigation .col-9,.acc-navigation .col-10,.acc-navigation .col-11,.acc-navigation .col-12,.acc-navigation .col,.acc-navigation .col-auto,.acc-navigation .col-sm-1,.acc-navigation .col-sm-2,.acc-navigation .col-sm-3,.acc-navigation .col-sm-4,.acc-navigation .col-sm-5,.acc-navigation .col-sm-6,.acc-navigation .col-sm-7,.acc-navigation .col-sm-8,.acc-navigation .col-sm-9,.acc-navigation .col-sm-10,.acc-navigation .col-sm-11,.acc-navigation .col-sm-12,.acc-navigation .col-sm,.acc-navigation .col-sm-auto,.acc-navigation .col-md-1,.acc-navigation .col-md-2,.acc-navigation .col-md-3,.acc-navigation .col-md-4,.acc-navigation .col-md-5,.acc-navigation .col-md-6,.acc-navigation .col-md-7,.acc-navigation .col-md-8,.acc-navigation .col-md-9,.acc-navigation .col-md-10,.acc-navigation .col-md-11,.acc-navigation .col-md-12,.acc-navigation .col-md,.acc-navigation .col-md-auto,.acc-navigation .col-lg-1,.acc-navigation .col-lg-2,.acc-navigation .col-lg-3,.acc-navigation .col-lg-4,.acc-navigation .col-lg-5,.acc-navigation .col-lg-6,.acc-navigation .col-lg-7,.acc-navigation .col-lg-8,.acc-navigation .col-lg-9,.acc-navigation .col-lg-10,.acc-navigation .col-lg-11,.acc-navigation .col-lg-12,.acc-navigation .col-lg,.acc-navigation .col-lg-auto,.acc-navigation .col-xl-1,.acc-navigation .col-xl-2,.acc-navigation .col-xl-3,.acc-navigation .col-xl-4,.acc-navigation .col-xl-5,.acc-navigation .col-xl-6,.acc-navigation .col-xl-7,.acc-navigation .col-xl-8,.acc-navigation .col-xl-9,.acc-navigation .col-xl-10,.acc-navigation .col-xl-11,.acc-navigation .col-xl-12,.acc-navigation .col-xl,.acc-navigation .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px
}

@media(min-width: 1024px) {
    .acc-navigation .col-1,.acc-navigation .col-2,.acc-navigation .col-3,.acc-navigation .col-4,.acc-navigation .col-5,.acc-navigation .col-6,.acc-navigation .col-7,.acc-navigation .col-8,.acc-navigation .col-9,.acc-navigation .col-10,.acc-navigation .col-11,.acc-navigation .col-12,.acc-navigation .col,.acc-navigation .col-auto,.acc-navigation .col-sm-1,.acc-navigation .col-sm-2,.acc-navigation .col-sm-3,.acc-navigation .col-sm-4,.acc-navigation .col-sm-5,.acc-navigation .col-sm-6,.acc-navigation .col-sm-7,.acc-navigation .col-sm-8,.acc-navigation .col-sm-9,.acc-navigation .col-sm-10,.acc-navigation .col-sm-11,.acc-navigation .col-sm-12,.acc-navigation .col-sm,.acc-navigation .col-sm-auto,.acc-navigation .col-md-1,.acc-navigation .col-md-2,.acc-navigation .col-md-3,.acc-navigation .col-md-4,.acc-navigation .col-md-5,.acc-navigation .col-md-6,.acc-navigation .col-md-7,.acc-navigation .col-md-8,.acc-navigation .col-md-9,.acc-navigation .col-md-10,.acc-navigation .col-md-11,.acc-navigation .col-md-12,.acc-navigation .col-md,.acc-navigation .col-md-auto,.acc-navigation .col-lg-1,.acc-navigation .col-lg-2,.acc-navigation .col-lg-3,.acc-navigation .col-lg-4,.acc-navigation .col-lg-5,.acc-navigation .col-lg-6,.acc-navigation .col-lg-7,.acc-navigation .col-lg-8,.acc-navigation .col-lg-9,.acc-navigation .col-lg-10,.acc-navigation .col-lg-11,.acc-navigation .col-lg-12,.acc-navigation .col-lg,.acc-navigation .col-lg-auto,.acc-navigation .col-xl-1,.acc-navigation .col-xl-2,.acc-navigation .col-xl-3,.acc-navigation .col-xl-4,.acc-navigation .col-xl-5,.acc-navigation .col-xl-6,.acc-navigation .col-xl-7,.acc-navigation .col-xl-8,.acc-navigation .col-xl-9,.acc-navigation .col-xl-10,.acc-navigation .col-xl-11,.acc-navigation .col-xl-12,.acc-navigation .col-xl,.acc-navigation .col-xl-auto {
        position:relative;
        width: 100%;
        padding-right: 24px;
        padding-left: 24px
    }
}

.acc-navigation .col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}

.acc-navigation .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.acc-navigation .col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.acc-navigation .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.acc-navigation .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}

.acc-navigation .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.acc-navigation .col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%
}

.acc-navigation .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%
}

.acc-navigation .col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.acc-navigation .col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%
}

.acc-navigation .col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%
}

.acc-navigation .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media(min-width: 720px) {
    .acc-navigation .col-sm {
        -ms-flex-preferred-size:0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .acc-navigation .row-cols-sm-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .acc-navigation .row-cols-sm-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .acc-navigation .row-cols-sm-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .acc-navigation .row-cols-sm-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .acc-navigation .row-cols-sm-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .acc-navigation .row-cols-sm-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .acc-navigation .col-sm-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .acc-navigation .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }

    .acc-navigation .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .acc-navigation .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .acc-navigation .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .acc-navigation .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .acc-navigation .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .acc-navigation .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .acc-navigation .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .acc-navigation .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .acc-navigation .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .acc-navigation .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .acc-navigation .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .acc-navigation .order-sm-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .acc-navigation .order-sm-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13
    }

    .acc-navigation .order-sm-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0
    }

    .acc-navigation .order-sm-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .acc-navigation .order-sm-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }

    .acc-navigation .order-sm-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3
    }

    .acc-navigation .order-sm-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4
    }

    .acc-navigation .order-sm-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5
    }

    .acc-navigation .order-sm-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6
    }

    .acc-navigation .order-sm-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7
    }

    .acc-navigation .order-sm-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8
    }

    .acc-navigation .order-sm-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9
    }

    .acc-navigation .order-sm-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10
    }

    .acc-navigation .order-sm-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11
    }

    .acc-navigation .order-sm-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12
    }

    .acc-navigation .offset-sm-0 {
        margin-left: 0
    }

    .acc-navigation .offset-sm-1 {
        margin-left: 8.33333%
    }

    .acc-navigation .offset-sm-2 {
        margin-left: 16.66667%
    }

    .acc-navigation .offset-sm-3 {
        margin-left: 25%
    }

    .acc-navigation .offset-sm-4 {
        margin-left: 33.33333%
    }

    .acc-navigation .offset-sm-5 {
        margin-left: 41.66667%
    }

    .acc-navigation .offset-sm-6 {
        margin-left: 50%
    }

    .acc-navigation .offset-sm-7 {
        margin-left: 58.33333%
    }

    .acc-navigation .offset-sm-8 {
        margin-left: 66.66667%
    }

    .acc-navigation .offset-sm-9 {
        margin-left: 75%
    }

    .acc-navigation .offset-sm-10 {
        margin-left: 83.33333%
    }

    .acc-navigation .offset-sm-11 {
        margin-left: 91.66667%
    }
}

@media(min-width: 1024px) {
    .acc-navigation .col-md {
        -ms-flex-preferred-size:0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .acc-navigation .row-cols-md-1>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .acc-navigation .row-cols-md-2>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .acc-navigation .row-cols-md-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .acc-navigation .row-cols-md-4>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .acc-navigation .row-cols-md-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .acc-navigation .row-cols-md-6>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .acc-navigation .col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .acc-navigation .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }

    .acc-navigation .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .acc-navigation .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .acc-navigation .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .acc-navigation .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .acc-navigation .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .acc-navigation .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .acc-navigation .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .acc-navigation .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .acc-navigation .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .acc-navigation .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .acc-navigation .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .acc-navigation .order-md-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .acc-navigation .order-md-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13
    }

    .acc-navigation .order-md-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0
    }

    .acc-navigation .order-md-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .acc-navigation .order-md-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }

    .acc-navigation .order-md-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3
    }

    .acc-navigation .order-md-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4
    }

    .acc-navigation .order-md-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5
    }

    .acc-navigation .order-md-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6
    }

    .acc-navigation .order-md-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7
    }

    .acc-navigation .order-md-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8
    }

    .acc-navigation .order-md-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9
    }

    .acc-navigation .order-md-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10
    }

    .acc-navigation .order-md-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11
    }

    .acc-navigation .order-md-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12
    }

    .acc-navigation .offset-md-0 {
        margin-left: 0
    }

    .acc-navigation .offset-md-1 {
        margin-left: 8.33333%
    }

    .acc-navigation .offset-md-2 {
        margin-left: 16.66667%
    }

    .acc-navigation .offset-md-3 {
        margin-left: 25%
    }

    .acc-navigation .offset-md-4 {
        margin-left: 33.33333%
    }

    .acc-navigation .offset-md-5 {
        margin-left: 41.66667%
    }

    .acc-navigation .offset-md-6 {
        margin-left: 50%
    }

    .acc-navigation .offset-md-7 {
        margin-left: 58.33333%
    }

    .acc-navigation .offset-md-8 {
        margin-left: 66.66667%
    }

    .acc-navigation .offset-md-9 {
        margin-left: 75%
    }

    .acc-navigation .offset-md-10 {
        margin-left: 83.33333%
    }

    .acc-navigation .offset-md-11 {
        margin-left: 91.66667%
    }
}

.acc-navigation ul {
    padding: 0;
    display: inline-flex
}

.acc-navigation ul li {
    list-style: none
}

.acc-navigation ul li a {
    text-transform: uppercase
}

.acc-navigation .first-row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center
}

.acc-navigation .first-list li {
    padding: 10px 16px;
    display: inline-block
}

.acc-navigation .first-list li.active {
    color: #e1120d;
    background-color: #fff
}

.acc-navigation .first-list li a:hover {
    color: #e1120d
}

.acc-navigation .secondary-block {
    display: inline-flex
}

.acc-navigation .secondary-block .secondary-list {
    align-items: center
}

.acc-navigation .button-area-client {
    margin-top: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center
}

.acc-navigation .button-area-client span.icon-ac {
    color: #e1120d;
    font-size: 12px;
    padding: 0;
    font-weight: 600;
    margin-right: 6px
}

.acc-navigation .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    position: relative;
    top: 2px;
    text-transform: uppercase;
    letter-spacing: .04em
}

.acc-navigation .phone span {
    color: #e1120d;
    margin-left: 5px
}

.acc-navigation .lenguage-block {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    top: 2px;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 20px 20px 0 0;
    border: 1px solid transparent;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.acc-navigation .lenguage-block .lengage-icons {
    display: flex;
    justify-content: center;
    align-items: center
}

.acc-navigation .lenguage-block.active {
    border: 1px solid #fff
}

.acc-navigation .lenguage-block.active .icon-ac::before {
    content: "\e942"
}

.acc-navigation .lenguage-block .lenguage-list {
    height: 0;
    position: absolute;
    top: 100%;
    flex-direction: column;
    background: #fff;
    z-index: 2;
    left: 0;
    border-radius: 0 0 20px 20px;
    width: 100%;
    text-align: center;
    border: 1px solid #f3f3f3;
    border-bottom: 0;
    overflow: hidden;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.acc-navigation .lenguage-block .lenguage-list li {
    padding: 8px 0;
    text-align: center
}

.acc-navigation .lenguage-block .lenguage-list li:first-child {
    padding-top: 16px
}

.acc-navigation .lenguage-block .lenguage-list li:last-child {
    padding-bottom: 16px
}

.acc-navigation .lenguage-block .lenguage-list li a {
    padding: 8px 16px;
    width: 100%;
    font-size: 14px;
    line-height: 18px
}

.acc-navigation .lenguage-block .lenguage-list li a:hover {
    color: #e1120d
}

.acc-navigation .lenguage-block .lenguage-list li a:first-child {
    padding-bottom: 16px
}

.acc-navigation .lenguage-block .lenguage-list li a:last-child {
    padding-bottom: 16px
}

.acc-navigation .lenguage-block .icon-ac {
    font-size: 8px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center
}

.acc-navigation .secondary-list li {
    padding: 0 8px;
    display: inline-block
}

.acc-navigation .secondary-list li.active {
    color: #e1120d;
    background-color: #fff
}

.acc-navigation .secondary-list li a:hover {
    color: #e1120d
}

.acc-navigation .block-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.acc-navigation .block-bottom img {
    width: 95px;
    height: 40px
}

.acc-navigation .block-bottom .datosSegundoHTML li {
    padding: 10px 12px
}

.acc-navigation .block-bottom .datosSegundoHTML li a:hover {
    color: #e1120d
}

.acc-navigation .block-bottom .datosSegundoHTML li:not(:hover)>ul {
    height: 0 !important
}

.acc-navigation .block-bottom .datosSegundoHTML li.nextUl:hover>a {
    color: #e1120d
}

.acc-navigation .block-bottom .datosSegundoHTML li.nextUl:hover .icon-ac::before {
    content: "\e942"
}

.acc-navigation .block-bottom .datosSegundoHTML li.nextUl:hover ul {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    display: flex !important;
    margin-top: 13px;
    padding: 8px 16px
}

.acc-navigation .block-bottom .datosSegundoHTML li.nextUl:hover ul li {
    border: 0;
    padding: 8px 0
}

.acc-navigation .block-bottom .datosSegundoHTML ul li {
    position: relative
}

.acc-navigation .block-bottom .datosSegundoHTML ul li ul {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    z-index: 1000;
    background: #fff;
    left: 0;
    height: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    overflow: hidden
}

.acc-navigation .block-bottom .datosSegundoHTML ul li ul li {
    width: 100%;
    display: inline-block
}

.acc-navigation .block-bottom .datosSegundoHTML ul li ul li a {
    width: 100%;
    display: inline-block;
    white-space: nowrap
}

.acc-navigation .block-bottom .datosSegundoHTML button .ac-btn .ac-icon {
    color: #fff
}

.acc-navigation .header-l {
    display: none
}

@media(min-width: 1024px) {
    .acc-navigation .header-l {
        display:block
    }
}

.acc-navigation .header-s {
    display: block;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
}

@media(min-width: 1024px) {
    .acc-navigation .header-s {
        display:none
    }
}

.acc-navigation .header-s .block-rigth-header-s {
    display: inline-flex;
    justify-content: end
}

.acc-navigation .header-s .block-rigth-header-s .first-desple {
    padding: 10px 28px 10px 16px;
    border-radius: 40px;
    border: 1px solid #f3f3f3;
    align-items: center;
    display: inline-flex;
    position: relative
}

.acc-navigation .header-s .block-rigth-header-s .first-desple .icon-ac {
    position: absolute;
    font-size: 8px;
    right: 12px;
    color: #e1120d
}

.acc-navigation .header-s .block-rigth-header-s .first-desple.active + ul {
    border: 1px solid #f3f3f3
}

.acc-navigation .header-s .block-rigth-header-s .first-block-header-s {
    margin-right: 16px;
    position: relative
}

.acc-navigation .header-s .block-rigth-header-s .first-block-header-s .first-list {
    position: absolute;
    right: 0;
    display: inline-block;
    background: #fff;
    top: 100%;
    overflow: hidden;
    height: 0;
    z-index: 101
}

.acc-navigation .header-s .block-rigth-header-s .first-block-header-s .first-list a {
    white-space: nowrap
}

.acc-navigation .header-s .block-rigth-header-s .icon-openMenu {
    font-family: "icomoon";
    font-size: 12px
}

.acc-navigation .header-s * {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.acc-navigation .header-s .bg-white {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.acc-navigation .header-s .bg-white.active {
    background-color: #f3f3f3;
    position: fixed;
    width: calc(100% - 32px);
    z-index: 101;
    top: 0;
    left: 0;
    height: 42px
}

.acc-navigation .header-s .bg-white.active .first-block-header-s .first-list {
    z-index: 101;
    right: auto;
    left: 0
}

.acc-navigation .header-s .bg-white.active .block-rigth-header-s {
    background-color: #f3f3f3;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px)
}

.acc-navigation .header-s .bg-white.active .block-rigth-header-s .first-desple {
    background-color: #fff
}

.acc-navigation .header-s .bg-white.active .block-rigth-header-s .icon-openMenu:before {
    content: "\e945"
}

.acc-navigation .header-s .bg-white.active + .menu-fixed {
    height: calc(100% - 123px);
    max-height: calc(100% - 123px);
    padding: 32px 16px 16px
}

.acc-navigation .header-s .menu-fixed {
    position: fixed;
    height: 0;
    max-height: 0;
    width: calc(100% - 32px);
    background: #f3f3f3;
    z-index: 100;
    top: 74px;
    overflow: hidden;
    padding: 0 16px 0
}

.acc-navigation .header-s .menu-fixed .border-top {
    margin: 32px 0;
    height: 1px;
    background: #4b4b4b;
    opacity: .1
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul {
    display: block
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li {
    display: block
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li a,.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li span {
    font-family: "Acciona-Extra-Light";
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li .icon-ac {
    font-size: 8px;
    color: #e1120d;
    width: 30px;
    text-align: right
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li a.active .icon-ac::before {
    content: "\e942"
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li a:not(.active) + ul {
    height: 0 !important
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li ul {
    overflow: hidden;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    height: 0
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML ul li ul li a {
    font-size: 14px;
    line-height: 18px;
    font-family: "Acciona-Regular"
}

.acc-navigation .header-s .menu-fixed .datosSegundoHTML .ac-btn-red {
    width: calc(100% - 32px);
    position: absolute;
    bottom: 16px;
    left: 16px
}

.acc-navigation .header-s .logo img {
    width: 95px;
    height: 40px
}

.acc-navigation .header-s .icon-openMenu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background: #e1120d;
    font-size: 10px;
    font-weight: 600
}

.acc-navigation .header-s .icon-openMenu:before {
    color: #fff
}

.acc-navigation .header-s .secondary-block {
    flex-direction: column
}

.acc-navigation .header-s .secondary-block .button-area-client {
    order: 1;
    margin-bottom: 24px
}

.acc-navigation .header-s .secondary-block .secondary-list {
    order: 3;
    margin-bottom: 8px;
    margin-left: 0
}

.acc-navigation .header-s .secondary-block .secondary-list li {
    padding: 0;
    margin-bottom: 16px
}

.acc-navigation .header-s .secondary-block .phone {
    padding: 0;
    margin-bottom: 24px;
    order: 2
}

.acc-navigation .header-s .secondary-block .lenguage-block {
    order: 4;
    padding: 0;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: start
}

.acc-navigation .header-s .secondary-block .lenguage-block.active {
    border: 0
}

.acc-navigation .header-s .secondary-block .lenguage-block .lenguage-list {
    position: relative;
    background: 0;
    align-items: start
}

.acc-navigation .header-s .secondary-block .lenguage-block .lenguage-list li a {
    padding: 0 0 16px 0
}


.accionaheader-wrapper {
    color: black
}